# Face Embeddings

In [2]:
import face_recognition

# Load the image with faces
image_path = "tony1.jpg"
image = face_recognition.load_image_file(image_path)

# Find all face locations in the image
face_locations = face_recognition.face_locations(image)

# Check if at least one face is found in the image
if len(face_locations) > 0:
    # Compute face embeddings for all detected facespip
    face_encodings = face_recognition.face_encodings(image, face_locations)

    # The face_encodings list contains the face embeddings as numpy arrays
    for i, face_encoding in enumerate(face_encodings):
        print(f"Face {i + 1} embedding shape: {face_encoding.shape}")

else:
    print("No faces found in the image.")

Face 1 embedding shape: (128,)

In [5]:
face_encodings[0]

array([-0.07751939,  0.07378316,  0.1607042 ,  0.00385908,  0.00421811,
       -0.08241004, -0.03076292, -0.12853312,  0.10393431, -0.08205162,
        0.28305146,  0.03111522, -0.23474276, -0.00976212, -0.09058656,
        0.11708987, -0.17773642, -0.0572123 , -0.08312573, -0.02353408,
       -0.01932417,  0.07653773,  0.08605272,  0.01778102, -0.12839216,
       -0.35577598, -0.17633837, -0.09129786,  0.05349503, -0.0781647 ,
        0.00708855,  0.03326141, -0.14337727, -0.03719703,  0.03562684,
        0.01364301, -0.0575141 , -0.08497716,  0.19629577,  0.09485783,
       -0.12457781,  0.03309624,  0.08581306,  0.35032809,  0.20391437,
        0.06331   ,  0.05849389, -0.11169345,  0.04931576, -0.23902357,
        0.10104881,  0.11022647,  0.10951982,  0.09954171,  0.14406976,
       -0.15544663,  0.07216704,  0.10585043, -0.18950987,  0.09386892,
        0.05789229,  0.06688258,  0.08206522,  0.0751251 ,  0.17216779,
        0.03914198, -0.14900933, -0.05329528,  0.09920271, -0.17518753,
       -0.02322649,  0.05539615, -0.0918546 , -0.20713085, -0.27143097,
        0.01697336,  0.44012046,  0.17964934, -0.16243899,  0.03122616,
       -0.13167731, -0.1380555 ,  0.06415167,  0.0442289 , -0.12466218,
       -0.01691635, -0.12775634,  0.02713383,  0.19721422,  0.06022773,
       -0.02807283,  0.26807952, -0.00646655, -0.06038625,  0.05164959,
        0.06719554, -0.20643575, -0.00275823, -0.15265544, -0.10352749,
       -0.00325476, -0.05230595, -0.02984367,  0.10710819, -0.25444898,
        0.21942425,  0.02985235, -0.0782022 ,  0.01648573,  0.00297198,
       -0.16274254,  0.01903058,  0.15457013, -0.27447221,  0.15299377,
        0.17655782,  0.06398232,  0.12897988,  0.11074756, -0.00302256,
       -0.03051042, -0.04054029, -0.09959327, -0.09527189,  0.01148101,
       -0.06060542,  0.11356095,  0.00483012])

In [6]:
import face_recognition
import pandas as pd

# Load the image with faces
image_path = "tony1.jpg"
image = face_recognition.load_image_file(image_path)

# Find all face locations in the image
face_locations = face_recognition.face_locations(image)

# Check if at least one face is found in the image
if len(face_locations) > 0:
    # Compute face embeddings for all detected faces
    face_encodings = face_recognition.face_encodings(image, face_locations)

    # Create a list of dictionaries where each dictionary represents a face and its embedding
    faces_data = [{"emp_id": i + 1, "Embedding": face_encoding} for i, face_encoding in enumerate(face_encodings)]
    print(faces_data)


else:
    print("No faces found in the image.")

[{'emp_id': 1, 'Embedding': array([ 0.00561087,  0.08018418,  0.05680636, -0.0605106 , -0.02940294,
       -0.02171772, -0.06934337, -0.03825317,  0.13180338, -0.12172985,
        0.27257001, -0.04955078, -0.29582047, -0.02064564, -0.03236188,
        0.08210869, -0.10494874, -0.0573597 ,  0.01830195, -0.11158044,
        0.03709072,  0.06861183,  0.06120244,  0.03928351, -0.10345547,
       -0.41072205, -0.07292358, -0.1635552 , -0.03378257, -0.06329016,
       -0.01998458,  0.06761336, -0.09853807,  0.01608831,  0.04691653,
        0.07631262, -0.09137733, -0.0495825 ,  0.21049044,  0.05466536,
       -0.07926376, -0.06399263,  0.03336162,  0.24704935,  0.08084304,
        0.09626377,  0.04528777, -0.02931177,  0.0967151 , -0.22654241,
        0.07594159,  0.14537883,  0.07640991,  0.07604973,  0.10916999,
       -0.14189211,  0.05530783,  0.04855877, -0.22060689,  0.08289406,
        0.03391266, -0.08156954, -0.06328969,  0.01009379,  0.28160658,
        0.10358214, -0.14115822, -0.043125  ,  0.16582736, -0.15857227,
       -0.05888889,  0.0797399 , -0.10311262, -0.20073363, -0.13423474,
        0.07604447,  0.34005904,  0.19800682, -0.11585478,  0.02052146,
       -0.04076089, -0.03938754,  0.09726299,  0.06215273, -0.07241452,
        0.01144153, -0.11287798,  0.0326049 ,  0.13686056, -0.03263992,
       -0.08036576,  0.25087193, -0.06549456,  0.14360195,  0.05724618,
        0.03253306, -0.14912136, -0.01885589, -0.1249714 , -0.05150457,
        0.11579208, -0.09298814, -0.03844702,  0.05495697, -0.16313644,
        0.10340184, -0.06737287, -0.05312238,  0.02792899,  0.03855773,
       -0.1206674 , -0.0446101 ,  0.13598321, -0.26702267,  0.17827232,
        0.12676811,  0.06918723,  0.18110625,  0.0917955 ,  0.00246473,
        0.03331788, -0.16552152, -0.20290743, -0.13721886,  0.02761922,
        0.04702394,  0.04156812, -0.02972459])}]

In [7]:
import face_recognition
import pandas as pd
import numpy as np

# Load the image with faces
image_path = "fahad3.jpg"
image = face_recognition.load_image_file(image_path)

# Find all face locations in the image
face_locations = face_recognition.face_locations(image)

# Check if at least one face is found in the image
if len(face_locations) > 0:
    # Compute face embeddings for all detected faces
    face_encodings = face_recognition.face_encodings(image, face_locations)

    # Convert the face embeddings to a list of strings
    face_encodings_str = [", ".join(map(str, encoding)) for encoding in face_encodings]

    # Create a list of dictionaries where each dictionary represents a face and its embedding
    faces_data = [{"emp_id": i + 1, "Embedding": encoding} for i, encoding in enumerate(face_encodings_str)]

    # Create a Pandas DataFrame from the list of dictionaries
    df = pd.DataFrame(faces_data)

    # Save the DataFrame to a CSV file
    df.to_csv('check_embedding.csv', index=False)

    print("Face embeddings saved to 'face_embeddings.csv'.")

else:
    print("No faces found in the image.")

Face embeddings saved to 'face_embeddings.csv'.

# Take data from

In [49]:
import mysql.connector



try:
    # Establish a connection to the MySQL server
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print("*************** Connected to MySQL server")

        # Create a cursor object to interact with the database
        cursor = connection.cursor()
        print(cursor)
        # Example: Select all rows from a table named 'your_table_name'
        # query = "SHOW TABLES"
        # query = 'SELECT * FROM employee_information'
        # cursor.execute(query)
        query = '''SELECT 
                id, 
                emp_id,
                department_id, 
                designation_id,
                reports_to,
                mother_name,
                father_name,
                gender,
                date_of_birth,
                martial_status,
                blood_group,
                personal_mobile_number,
                personal_email,
                company_email,
                address,
                cnic_number,
                cnic_address,
                place_of_birth,
                state,
                country,
                emergency_contact_name,
                emergency_relationship,
                emergency_contact_number,
                status,
                joining_date
                FROM employee_information
                WHERE id = 134'''
        cursor.execute(query)
        # # Fetch all the rows
        rows = cursor.fetchall()

        # # Process and print the data
        print(row[1])
        # for row in rows:
        #     print(row)
        # Create a DataFrame from the fetched data
        # df = pd.DataFrame(rows, columns=[i[0] for i in cursor.description])

        # Print the DataFrame
        # print(df)
    else:
        print('*************** connection error')
except mysql.connector.Error as error:
    print("Error:", error)

finally:
    # Close the cursor and connection
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection closed")

*************** Connected to MySQL server
CMySQLCursor: (Nothing executed yet)
726
MySQL connection closed

In [27]:
for i in df.columns

id
emp_id
department_id
designation_id
reports_to
mother_name
father_name
gender
date_of_birth
martial_status
blood_group
personal_mobile_number
personal_email
company_email
address
cnic_number
cnic_address
place_of_birth
state
country
emergency_contact_name
emergency_relationship
emergency_contact_number
status
joining_date
created_at
updated_at
deleted_at

In [31]:
df

,id,emp_id,department_id,designation_id,reports_to,mother_name,father_name,gender,date_of_birth,martial_status,...,state,country,emergency_contact_name,emergency_relationship,emergency_contact_number,status,joining_date,created_at,updated_at,deleted_at
0,1,596,NaN,NaN,NaN,None,None,None,None,None,...,Sindh,Pakistan,None,None,None,1,None,2023-09-25 19:01:32,NaT,None
1,2,597,NaN,NaN,NaN,None,None,None,None,None,...,Sindh,Pakistan,None,None,None,1,None,2023-09-25 19:01:32,NaT,None
2,3,598,NaN,NaN,NaN,None,None,None,None,None,...,Sindh,Pakistan,None,None,None,1,None,2023-09-25 19:01:32,NaT,None
3,4,599,NaN,NaN,NaN,None,None,None,None,None,...,Sindh,Pakistan,None,None,None,1,None,2023-09-25 19:01:32,NaT,None
4,5,600,NaN,NaN,NaN,None,None,None,None,None,...,Sindh,Pakistan,None,None,None,1,None,2023-09-25 19:01:32,NaT,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,134,726,6.0,30.0,126.0,Meeim Mai,Abdul KAreem,M,1995-02-10,Single,...,Punjab,Pakistan,03023390727,Father,03041979583,1,2023-09-18,2023-09-26 12:45:29,2023-09-26 12:45:29,None
93,135,727,6.0,NaN,119.0,Mahmood,Rashid,M,2001-05-19,Single,...,Sindh,Pakistan,Rashid,Father,03343645354,1,2023-05-28,2023-09-26 12:48:55,2023-09-26 13:03:17,None
94,136,123,6.0,35.0,119.0,Zakia Javed,Javed Akhter Khan,M,2000-08-01,Single,...,Sindh,Pakistan,Javed Akhter Khan,Father,03018295924,1,2023-09-01,2023-09-26 13:53:21,2023-09-26 13:53:21,None
95,137,125,6.0,23.0,119.0,Shabana Naz,Abdullah,M,1998-08-01,Single,...,Sindh,Pakistan,Abdullah,Father,03202607039,1,2023-09-01,2023-09-27 17:16:26,2023-10-03 10:23:05,None
96,138,119,31.0,NaN,NaN,None,None,M,None,Single,...,None,None,None,None,None,1,None,2023-10-02 20:25:32,2023-10-02 20:25:32,None

In [74]:
existing_data.shape[0] +1

3

In [10]:
import pandas as pd

CSV_FILE_PATH = 'face_embeddings.csv'

# Load existing data from the CSV file
existing_data = pd.read_csv(CSV_FILE_PATH)

# Create a new row with a string representation of embeddings
new_row = {"emp_id": existing_data.shape[0] +1, "Embedding": "-0.07751939445734024, 0.07378315925598145, 0.1"}  # Replace with your actual embedding values

# existing_data.loc[existing_data.shape[0] +1] = new_row
existing_data = existing_data.apend(new_row, ignore_index=True)
# # Save the updated embeddings back to the CSV file
# existing_data.to_csv(CSV_FILE_PATH, index=False)
# # # Append the new row to the DataFrame
# # existing_data = existing_data.append(new_row, ignore_index=True)

# # # Save the updated DataFrame back to the CSV file
# # existing_data.to_csv(CSV_FILE_PATH, index=False)





# # CSV_FILE_PATH = 'face_embeddings.csv'

# # # Load existing data from the CSV file
# # existing_data = pd.read_csv(CSV_FILE_PATH)

# # # Append the new embeddings to the existing data
# # new_embeddings = [{"emp_id": 2, "Embedding": [1,1,1,1]}]
# # existing_data.loc[len(df.index)] = new_embeddings
# # # existing_data = existing_data.append(new_embeddings, ignore_index=True)

# # # Save the updated embeddings back to the CSV file
# # existing_data.to_csv(CSV_FILE_PATH, index=False)

AttributeError: 'DataFrame' object has no attribute 'append'

In [57]:
existing_data

   emp_id                                          Embedding
0       1  -0.07751939445734024, 0.07378315925598145, 0.1...

In [12]:
# Create a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

# Create a dictionary with the data for the new row
new_row = {'Name': 'David', 'Age': 40}


df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
# Append the dictionary to the DataFrame
# df = df.append(new_row, ignore_index=True)

# Reset the index
df = df.reset_index(drop=True)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40